.header {
    padding: 15px 0;


    .container {
        display: grid;
        grid-template-columns: auto 1fr auto auto;
        align-items: center;
        gap: 40px;
      
        @media (max-width:768px) {
            gap: 0px;
            grid-template-columns: 1fr 1fr;
        }

        .header-menu {
            a {
                padding-right: 10px;
            }
        }

        .account-buttons {
            display: flex;
            gap: 10px;

           
            
        }
    }
}
