#integrate {
    margin-top: 100px;
    margin-bottom: 50px;
    p {
        @include text-m;
    }


    .container {
        text-align: center;
        display: grid;

        .header {
            width: 60%;
            margin-left: auto;
            margin-right: auto;
            margin-bottom: 50px;

            h2 {
                @include h1;
            }

            p {
                color: $gray-600;
            }
        }

        .tools {
            display: grid;
            grid-template-columns: repeat(4, 1fr);
            gap: 60px;

            tool-item {
                text-align: left;

                p {
                    padding: 1rem;
                }
            }
        }
    }
}
