@page "/logout"
@inject SignInManager<ApplicationUser> SignInManager
@inject NavigationManager Navigation




<h3>Logging out....</h3>

@code {
 
    protected override async Task OnInitializedAsync()
    {
        await SignInManager.SignOutAsync();
        Navigation.NavigateTo("/signin", true);
    }
}
