@inherits LayoutComponentBase
@layout AccountLayout

<div class="container">
    <section id="account-details">

    
        <div class="details">
            @Body
        </div>
    </section>

</div>

