
<header class="header">
    <div class="container">
        <a href="/" id="logo">
            <img src="/images/company-icon.svg" alt="silicon logo">
        </a>

        <div class="header-menu" id="menu">
            <nav>
                <a class="menu-link" href="Overview">Overview</a>
                <a class="menu-link" href="/#features">Features</a>

                       

                <a class="menu-link" href="#"> Contact</a>


            </nav>
        </div>

        <div class="btn-switch">
            <span>Light</span>
            <div class="switch">
                <input type="checkbox" id="switch" role="switch">
                <label for="switch" class="slider round"></label>
            </div>
            <span>Dark</span>

        </div>

        <div class="account-buttons">

                    <div class="profile">
                        <a class="profile-image-avatar" href="/account/details">
                            <img style=" width: 50px; height: 50px;" src="/images/uploads/avatar.svg" alt="profile image" />
                        </a>
                    </div>

                    <a class="btn-gray" href="/signin"><i class="fa-solid fa-arrow-right-to-bracket"></i>Sign in</a>
                    <a href="/signup" class="btn-theme"><i class="fa-regular fa-user"></i>Sign Up</a>


        </div>


    </div>
</header>
